## Introduction to Tuples

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [2]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [6]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [7]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple= (1, "Hello world", 24.5, True)
print(mixed_tuple)

(1, 'Hello world', 24.5, True)

In [9]:
#Accessing tuple elements

numbers

(1, 2, 3, 4, 5, 6)

In [11]:
print(numbers[0])
print(numbers[-1])

1
6

In [12]:
numbers[0:4]

(1, 2, 3, 4)

In [13]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [14]:
## Tuple Operations
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello world', 24.5, True)

In [15]:
mixed_tuple *3

(1,
 'Hello world',
 24.5,
 True,
 1,
 'Hello world',
 24.5,
 True,
 1,
 'Hello world',
 24.5,
 True)

In [16]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [17]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.
lst = [1,2,3,4,5]
print(lst)

lst[1] = "Lolo"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Lolo', 3, 4, 5]

In [18]:
numbers[1] = "Bobo"
print(numbers)

TypeError: 'tuple' object does not support item assignment

In [20]:
numbers

(1, 2, 3, 4, 5, 6)

In [23]:
## Tuple Methods
## count how many times the element is present 
print("Count:", numbers.count(1))

print("Index:", numbers.index(3))

Count: 1
Index: 2

In [24]:
## Packing and Unpacking tuple
## packing

packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [25]:
##unpacking a tuple
a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [26]:
## Unpacking with *

numbers = (1,2,3,4,5,6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [32]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst[0])
print(lst[0][2])
print(lst[0][0:3])

nested_tple=((1,2,3,4),(6,7,8,9),(1,"Hello",3.14,"c"))
print(nested_tple[0])
print(nested_tple[0][2])
print(nested_tple[0][0:3])

[1, 2, 3, 4]
3
[1, 2, 3]
(1, 2, 3, 4)
3
(1, 2, 3)

In [34]:
## iterating over nested tuples

for sub_tple in nested_tple:
    for item in sub_tple:
        print(item, end=" ")
    print()

1 2 3 4
6 7 8 9
1 Hello 3.14 c