# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [5]:
first,*middle,last = tpl

print("First: " ,first)
print("Middle: " ,middle)
print("Last: " ,last)

First:  1
Middle:  [2, 3, 4, 5, 6, 7, 8, 9]
Last:  10

In [4]:
print(f"First element: {tpl[0]}")
print(f"Middle element: {tpl[len(tpl) // 2]}")
print(f"Last element: {tpl[-1]}")

First element: 1
Middle element: 6
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [11]:
print(f"First 3 elements: {tpl[0:3]}")
print(f"Middle element: {tpl[2:5]}")
print(f"Last 3 elements: {tpl[-3:]}")

First 3 elements: (1, 2, 3)
Middle element: (3, 4, 5)
Last 3 elements: (8, 9, 10)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [14]:
nested_matrix =(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("Matrix: ")
for row in nested_matrix:
    print(row)

print(nested_matrix[1][2])

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [15]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

concatenated_tuple = tuple1 + tuple2
print(tuple1)
print(tuple2)
print(concatenated_tuple)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [16]:
duplicate = (1,1,5,6,7,4,2,5,7,8,2,6,0)

print("Count:" , duplicate.count(1))
print("Index", duplicate.index(5))

Count: 2
Index 2

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [18]:
packed_tuple = 1,4.6, "Lolo", "abc", (24,57)
print(packed_tuple)

a,b,c,d,e = packed_tuple
print(a)
print(b)

(1, 4.6, 'Lolo', 'abc', (24, 57))
1
4.6

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [20]:
lst = [1,2,3,4,5]
tple = tuple(lst)

print(tple)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [21]:
nested_tuple = ((1,3,5), ("baby", "bunny", "boy"), (2.5,78,"lazy"))

for sub_tuple in nested_tuple:
    print(sub_tuple)

(1, 3, 5)
('baby', 'bunny', 'boy')
(2.5, 78, 'lazy')

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [24]:
positive_integer = tuple(range(1,6))
print(positive_integer)
converted = list(positive_integer)

converted.append(6)

converted_again = tuple(converted)
print(converted_again)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [25]:
string = "hello"
tpl = tuple(string)
print(tpl)
joined_string = ''.join(tpl)
print(joined_string)

('h', 'e', 'l', 'l', 'o')
hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [26]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [28]:
nested_tuple = (
    (24, 28,26),
    (1,2,3),
    (4,5,6)
)

for sub_tuple in nested_tuple:
    for tuple in sub_tuple:
        print(tuple)
   # print(sub_tuple)

24
28
26
1
2
3
4
5
6

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [29]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [30]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15